footer{
    text-align: center;
    padding: 50px 0;
    background: #363942;
    p, .icono-grande{
        color: #7e7e7e;
    }
    .footer-links{
        margin: 30px 0;
        li{
            display: inline;
            padding: 10px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
    .redes-sociales{
        margin-top: 30px;
        li{
            display:inline;
            padding: 0 15px;
            font-size: 2em;
            a{
                color: #7e7e7e;
                &:hover{
                    color: #ea9312;
                }
            }
        }
    }
}

//poisson y verdulin