//universal
*{
    list-style: none;
}

//tipografia
body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.8em;
}

.icono-grande{
    font-size: 3em;
}

h2{
    font-size: 42px;
}

h3{
    font-size: 28px;
}

h4{
    font-size: 18px;
    line-height: 1.4em;
}

p{
    letter-spacing: 1px;
    color: #666;
    font-weight: lighter;
}


//elementos
a{
    color: #ea9312;
    
    &:hover{
        color: #c3c3c3;
        text-decoration: none;
    }
}

img{
    max-width: 100%;
}

hr.separador{
    width: 80px;
    color: #363942;
    border-top: 2px solid #ea9312;
}

.secion-titulo{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.col-md-4, .col-md-6{
    padding-bottom: 50px;
}

icono-nav{
    margin-right: 10px;
}

ul{
    padding: 0;
}