#marcas{
    padding-top: 30px;
    h4{
        padding-bottom: auto;
    }
    
    ul{
        float: right;
    }
    
    li{
        display: inline;
        margin-right: 35px;
    }
    
    &li:last-child{
         margin-right: 0px;
    }
}