.welcome{
    width: 100%;
    color: #fff;
    text-align: center;
    background: url(../img/fondoWelcome/bg.jpg)no-repeat;
    background-size: cover;
    max-height: 880px;
    overflow: hidden; 
    h2, h4{
        text-align: center;
    }
}

.contenido-welcome{
    padding-top: 100px;
    width: 100%;
    max-width: 900px;
}

.welcome-imagen{
    margin-top: 20px;
    width: 100%;
    max-width: 920px;
}